body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: White;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.comingsoon {
    color: Aquamarine;
    font-size: 16px;
}

.copyright {
    text-align: right;
    color: gray;
    font-size: 21px;
}
